.outerBlock {
  border: 5px solid blue;
  height: 400px;
}

.innerBlock {
  border: 5px solid red;
}

.flexParent {
  display: flex;
  flex-direction: column-reverse;
  /* justify-content: space-between;
  align-items: center; */
}

.flexChild1 {
  /* align-self: flex-end; */
}

.flexChild2 {
}

.flexChild3 {
}

.flexChild4 {
  /* align-self: flex-start; */
}
